# Python
*.pyc
*.pyo
*.pyd
*.egg-info/

# Jupyter
.ipynb_checkpoints

# IDE
.vscode
.idea
*.wpr
*.wpu
.vs
x64

# Temp
build
dist
*.local

# VeighNa
.vntrader

# Visual Studio intermediate files
*.exp
*.iobj
*.ipdb
*.pdb


# Documents
_build
_static
_templates

# Misc
.DS_Store
*.mo

# Alpha
lab/
/.mypy_cache

# uv
*.lock

# 环境变量配置（含账号密码，禁止提交）
.env

# log
*.log
*.pid


# data & config
**/data/
**/config/

